<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>its my project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>

 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        
      
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>            
    
          <ul class="topnav">
          <li><a class="active" href="file:///C:/44563/A02Vadlamudi/initializr/index.html">NWMSU Dining</a></li> 
          <li><a href="file:///C:/44563/A02Vadlamudi/initializr/Price.html">Order</a></li>
          <li><a href="file:///C:/44563/A02Vadlamudi/initializr/Contact.html" target="-blank">Contact</a></li>
          <li><a href="file:///C:/44563/W01/Vadlamudi_Aswini.html">About me</a></li>
          
          </ul>
          
      </div> 
      
    </nav>
    <div class="jumbotron">
      <div class="container">
        <!--<img src="b.jpg"></img>-->       
        <h1><span>Welcome!!!<br />Are you foodie!!??Here you go.Pay less and eat more..</span> </h1>        
      </div>
    </div>

<div class="row">
<div class="col-md-12">
<h3>For any queries,please write to us:</h3>

<form action="mailto:someone@example.com" method="post" enctype="text/plain">
Name:<br>
<textarea rows="1" cols="40" placeholder="abcd"></textarea><br>

E-mail:<br>
<textarea rows="1" cols="40" placeholder="abc@example.com"></textarea>
<br>
Comment:<br>
<textarea rows="5" cols="40" placeholder="Comments here.."></textarea><br>
<input type="submit" value="Send">

</form>
</div>
<div class="col-md-12">
<p>Follow us</p>
<a href="https://bitbucket.org/AswiniV"><img src="bit.png"></a>
<a href="https://github.com/AswiniV"><img src="git.png"></a>
<a href="https://www.linkedin.com/in/aswini-vadlamudi-b63783a8?trk=hp-identity-name"><img src="in.png"></a>
</div>
      
</body>
</html>