<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>its my project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
     
    
    <div id="follow-container">   
				<p><a id="author" href="file:///C:/44563/W01/Vadlamudi_Aswini.html" target="_blank">Aswini Vadlamudi</a></p>
        <img class="img-circle" src="mypic.jpg" alt="AswiniV" </img>
    </div>
				
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        
      
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>            
    
          <ul class="topnav">
          <li><a class="active" href="index.html">NWMSU Dining</a></li>   
          <li><a href="Price.html">Price</a></li>
          <li><a href="Contact.html">Contact</a></li>
          <li><a href="Vadlamudi_Aswini.html">About me</a></li>
          <li><a href="guestBook.html">Guest Book</a></li>
          
          </ul>   
      </div>      
    </nav>
    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <!--<img src="b.jpg"></img>-->       
        <h1><span>Welcome!!!<br />Are you foodie!!??Here you go.Pay less and eat more..</span> </h1>       
      </div>
    </div>
      
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Events</h2>         
          <iframe width="300" height="200" src="https://www.youtube.com/embed/XuzFZ3OQUQs" frameborder="0" allowfullscreen></iframe>
          <!--<source src="movie.ogg" type="video/ogg">-->        
          <p><a class="btn btn-default" href="#" role="button">Watch more..</a></p>
        </div>
        <div class="col-md-6">
          <h2>Deals</h2>
          <p>Check the Deals tab to take advantage of specials offered by Campus Dining! Campus Dining periodically offers coupons, discounts, giveaways, meal plan promotions and various specials across campus.</p>
          <p><a class="btn btn-default" href="#" role="button">Read more..</a></p>
        </div>
        <div class="col-md-2">
          <h2>Timings</h2>
          <p>Weekdays:7am-11pm</p>
          <p>Weekends:9am-7pm</p>
          <p>Holidays:closed</p>
          <p><a class="btn btn-default" href="#" role="button">Read more..</a></p>
        </div>
      </div>

      

      <footer>
        <p>Enjoy your diet..</p>
        
      </footer>
    </div> 
     <script src="js/main.js"></script>
     <!-- /container -->        
      
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

       

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--<script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>-->
    </body>
</html>
