<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>its my project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>

 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        
      
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>            
    
          <ul class="topnav">
          <li><a class="active" href="file:///C:/44563/A02Vadlamudi/initializr/index.html">NWMSU Dining</a></li>   
          <li><a href="file:///C:/44563/A02Vadlamudi/initializr/Price.html">Order</a></li>
          <li><a href="file:///C:/44563/A02Vadlamudi/initializr/Contact.html">Contact</a></li>
          <li><a href="file:///C:/44563/W01/Vadlamudi_Aswini.html">About me</a></li>
          
          </ul>   
      </div>  
    </nav>
<body>
    <div class="jumbotron">
      <div class="container">
        <!--<img src="b.jpg"></img>-->       
        <h1><span>Hello!!!<br />Select your food here and pay..</span> </h1>       
      </div>
    </div>
	
<div class="container">
    
        <!--<div class="col-sm-3"     -->
        <form action="" id="yourOrder" onsubmit="return false;"><br>
        <h5>Select size</h5>
        <input type="checkbox" name="Pizza" value="5.99">Personal<br>
        <input type="checkbox" name="Pizza" value="7.99">Medium<br>
        <input type="checkbox" name="Pizza" value="9.99">Large<br><br>
        
        <!--<div class="col-sm-3" -->
        <!--<form action="action_page.php">Select flavours<br>-->
        <h5>Select Flavour</h5>
        <input type="checkbox" name="ice" value="3">Strawberry<br>
        <input type="checkbox" name="ice" value="4">Vanilla<br>
        <input type="checkbox" name="ice" value="5">Chocolate<br><br>
        

        <!--<div class="col-sm-3" -->
        <!--<form action="action_page.php">Select Drinks<br>-->
        <h5>Select Drink </h5>
        <input type="checkbox" name="drink" value="3">Diet Coke<br>
        <input type="checkbox" name="drink" value="5">Coke<br>
        <input type="checkbox" name="drink" value="6.5">Pepsi<br><br>
        
        <button onclick="orderPrice()" >Submit</button> <br/> <br/>
        <p id="totalCost"> </p>
        </form> 

        
</div>

       <script src="js/main.js"></script>
       
        

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

</body>
</html>