<!DOCTYPE html>
<html>
<head>
	<title>Aswini</title>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>its my project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    
    
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
     
    
    <div id="follow-container">   
				<p><a id="author" href="file:///C:/44563/W01/Vadlamudi_Aswini.html" target="_blank">Aswini Vadlamudi</a></p>
        <img class="img-circle" src="mypic.jpg" alt="AswiniV" </img>
    </div>
				
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        
      
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>            
    
          <ul class="topnav">
          <li><a class="active" href="file:///C:/44563/A02Vadlamudi/initializr/index.html">NWMSU Dining</a></li>   
          <li><a href="file:///C:/44563/A02Vadlamudi/initializr/Price.html">Price</a></li>
          <li><a href="file:///C:/44563/A02Vadlamudi/initializr/Contact.html">Contact</a></li>
          <li><a href="file:///C:/44563/W01/Vadlamudi_Aswini.html">About me</a></li>
          
          </ul>   
      </div>      
    </nav>
</head>
<body>
	<h2>Background</h1>	
		<ul>
		<li>I am from Khammam, which is located in Telangana state of India.</li>
		<li>I have completed my Bachelor of Engineering in 2014 from Electronics and Communication Engineering</li>
		<li>I worked as a software Engineer in Accenture solutions pvt. ltd. for 2 years</li>
		</ul>		
	<h2>Plans</h2>
		<p>I want to work in one of the top MNCs with better posiotion than the previous one and to work on latest technlogies</p>
	<h2>Interests</h3>
		<table border="1">
		<tr>
		<th>Technical interests</th>
		<td>Data sciences and tool PEGA</td>
		</tr>
		<tr>
		<th>Sports</th>
		<td>Table tennis & Badminton</td>
		</tr>
		<tr>
		<th>Hobbies</th>
		<td>Listening music and Surfing</td>
		</tr>
		</table>
		<p>C,C++,JAVA and Python are other known programming languages and my favourite website is <a href ="http://www.linkedin.com">linkedin</a></p>
</body>
</html>

